<div class="footer">
    <div class="contact">
        <div class="contact-text">
            contact:
        </div>
        <div class="contact-row">
            <img src="assets/insta.png" alt="insta">
            <img src="assets/whatsapp.png" alt="insta">
        </div>
    </div>
    <div class="about">
        <div class="heading">
            SIRIUS
        </div>
        <div class="desc">
            Precision sprayers ensure targeted application, minimizing environmental impact while maximizing crop yield and health. Furthermore, irrigation systems utilize sprays to distribute water efficiently.
        </div>
    </div>
    <div class="copyright">
        © 2025, sirius perfume india developed by yash sakhla.
    </div>
</div>